include ../image-slider/image-slider
include ../rate-button/rate-button
include ../room-label/room-label

mixin card-room(vars = {})
  -
    const {
      imageSlider = {},
      reviews = 0,
      rateButton = {},
      roomLabel = {},
    } = vars

    const className = 'card-room'
    let classNames = `${className} js-${className}`

  div(class=classNames)
    div(class=`${className}__image-slider js-${className}__image-slider`)
      +image-slider({
        ...imageSlider,
        type: 'cardRoom',
      })
    div(class=`${className}__info`)
      div(class=`${className}__label js-${className}__label`)
        +room-label(roomLabel)
      div(class=`${className}__rating-and-reviews`)
        div(class=`${className}__rating js-${className}__rating`)
          +rate-button(rateButton)
        div(class=`${className}__reviews`)
          span(class=`${className}__reviews-count js-${className}__reviews-count`)= reviews
          span(class=`${className}__reviews-title`)  Отзывов