include ../rate-button/rate-button

mixin card-room(vars)
  -
    const {
      images = [],
      number = 0,
      reviews = 0,
      rateButton = {},
      isLuxe = false,
      isHovered = false,
    } = vars

    const className = "card-room"
    let classNames = `${className} js-${className}`

    const imageLimit = images.length > 4 ? 4 : images.length

  if isHovered
    - classNames += ` ${className}_hovered`

  div(class=classNames)
    div(class=`${className}__slider`)
      if images[0]
        img(class=`${className}__slider-image ${className}__slider-image_active js-${className}__slider-image`
            src=require(`@images/${images[0].src}`)
            alt=images[0].alt
        )
      - for (let i = 1; i < imageLimit; i++)
        img(class=`${className}__slider-image js-${className}__slider-image`
            src=require(`@images/${images[i].src}`)
            alt=images[i].alt
        )
      div(class=`${className}__slider-navigation`)
        button(class=`${className}__previous js-${className}__previous`)
          div(class=`${className}__previous-icon`)
            span(class="material-icons") expand_more
        button(class=`${className}__next js-${className}__next`)
          div(class=`${className}__next-icon`)
            span(class="material-icons") expand_more
      ul(class=`${className}__control-panel`)
        li(class=`${className}__control-panel-item`)
          button(class=`${className}__control-panel-button ${className}__control-panel-button_active js-${className}__control-panel-button` data-id=0)
        - for (let i = 1; i < 4; i++)
          li(class=`${className}__control-panel-item`)
            button(class=`${className}__control-panel-button js-${className}__control-panel-button` data-id=i)
    div(class=`${className}__info`)
      div(class=`${className}__info-primary`)
        div(class=`${className}__number`)
          span(class=`${className}__number-sign`) № 
          span(class=`${className}__number-value`)= number
          if isLuxe
            span(class=`${className}__luxe`) люкс
        div(class=`${className}__price`)
          span(class=`${className}__price-value js-${className}__price-value`)
          span(class=`${className}__duration`)  в сутки
      div(class=`${className}__info-secondary`)
        div(class=`${className}__rating`)
          +rate-button(rateButton)
        div(class=`${className}__reviews`)
          span(class=`${className}__reviews-count js-${className}__reviews-count`)= reviews
          span(class=`${className}__reviews-title`)  Отзывов