extends ../../layouts/layout/layout

include ../../components/container/container
include ../../components/chart-pie/chart-pie
include ../../components/gallery/gallery

block vars
  -
    const title = "Room Details"
    const data = require("./data.json")

block main
  - const className = "room-details"
  
  div(class=`${className} js-${className}`)
    div(class=`${className}__gallery`)
      +gallery(data.gallery)
    +container()
      main(class=`${className}__main`)
        //div(class=`${className}__chart-reviews js-${className}__chart-reviews`)
        //  +chart-pie(data.chartReviews)