extends ../../layouts/layout/layout

include ../../components/container/container
include ../../components/chart-pie/chart-pie
include ../../components/gallery/gallery
include ../../components/room-info/room-info
include ../../components/card-reservation/card-reservation
include ../../components/comments/comments

block vars
  -
    const title = "Room Details"
    const data = require("./data.json")

block main
  - const className = "room-details"
  
  div(class=`${className} js-${className}`)
    div(class=`${className}__gallery`)
      +gallery(data.gallery)
    +container()
      main(class=`${className}__main`)
        div(class=`${className}__comments js-${className}__comments`)
          +comments(data.comments)
        //div(class=`${className}__card-reservation js-${className}__card-reservation`)
        //  +card-reservation(data.cardReservation)
        //div(class=`${className}__info`)
        //  +room-info(data.info)
        //div(class=`${className}__chart-reviews js-${className}__chart-reviews`)
        //  +chart-pie(data.chartReviews)