mixin counter-item(vars = {})
  -
    const {
      title = '',
      value = 0,
      type  = 'guest',
    }  = vars

    const className = 'counter-item'
    let classNames  = className + ` js-${className}`

  div(class=classNames)
    h3(class=`${className}__title`)= title
    div(class=`${className}__counter`)
      button(class=`${className}__decrement js-${className}__decrement`) -
      span(class=`${className}__value js-${className}__value`)= value
      button(class=`${className}__increment js-${className}__increment`) +