extends ../../layouts/layout/layout

include ../../components/container/container
include ../../components/card-sign-in/card-sign-in

block vars
  -
    const title = "Sign In"
    const data = require("./data.json")

block main
  - const className = "sign-in"
  
  div(class=`${className} js-${className}`)
    +container()
      main(class=`${className}__main`)
        div(class=`${className}__card-sign-in js-${className}__card-sign-in`)
          +card-sign-in(data.cardSignIn)