mixin button(vars)
  -
    const {
      text = "",
      bordered,
      filled,
      withIcon,
      hovered = false,
      type = "button",
    } = vars

    const className = "button"
    let classNames = className + ` js-${className}`

  if bordered
    - classNames += ` ${className}_bordered`
  if filled
    - classNames += ` ${className}_filled`
  if withIcon
    - classNames += ` ${className}_withIcon`
    - classNames += ` ${className}_filled`
  if hovered
    - classNames += ` ${className}_hovered`
    
  button(class=classNames
         type=type
  )
      div(class=`${className}__body`)
        span(class=`${className}__text`)= text
        if withIcon
          span(class=`${className}__icon`)
            span(class="material-icons") arrow_forward