mixin button(vars = {})
  -
    const {
      icon,
      href,
      theme = 'default',
      text = '',
      hovered = false,
      type = 'button',
    } = vars

    const className = 'button'
    let classNames = className + ` js-${className}`

    const tag = href ? 'a' : 'button'

    const buttonAttributes = {
      a: {
        href,
      },
      button: {
        type,
      },
    }

    const materialIcon = {
      arrowForward: 'arrow_forward',
    }

    const themeClass = {
      default: '',
      bordered: ` ${className}_theme_bordered`,
      filled: ` ${className}_theme_filled`,
      long: ` ${className}_theme_long`,
      borderedHeader: ` ${className}_theme_bordered-header`,
      longHeader: ` ${className}_theme_long-header`,
    }

    classNames += themeClass[theme]

  if hovered
    - classNames += ` ${className}_hovered`
    
  #{tag}(class=classNames)&attributes(buttonAttributes[tag])
      span(class=`${className}__body`)
        span(class=`${className}__text`)= text
        if icon
          span(class=`${className}__icon`)
            span(class='material-icons')= materialIcon[icon]