mixin button(vars = {})
  -
    const {
      theme,
      icon,
      href,
      text    = "",
      hovered = false,
      type    = "button",
    } = vars

    const className = "button"
    let classNames  = className + ` js-${className}`

    const tag = href ? "a" : "button"

    const buttonAttributes = {
      a: {
        href,
      },
      button: {
        type,
      },
    }

    const materialIcon = {
      arrowForward: "arrow_forward",
    }

    const themeClass = {
      bordered: ` ${className}_bordered`,
      filled: ` ${className}_filled`,
      long: ` ${className}_long`,
      borderedHeader: ` ${className}_bordered-header`,
      longHeader: ` ${className}_long-header`,
    }

  if theme
    - classNames += themeClass[theme]

  if hovered
    - classNames += ` ${className}_hovered`
    
  #{tag}(class=classNames)&attributes(buttonAttributes[tag])
      span(class=`${className}__body`)
        span(class=`${className}__text`)= text
        if icon
          span(class=`${className}__icon`)
            span(class="material-icons")= materialIcon[icon]