mixin button(vars)
  -
    const {
      text = "",
      theme,
      icon,
      hovered = false,
      type = "button",
      href,
    } = vars

    const className = "button"
    let classNames = className + ` js-${className}`

    const tag = href ? "a" : "button"

    const buttonAttributes = {
      a: {
        href,
      },
      button: {
        type,
      },
    }

  case (theme)
    when "bordered"
      - classNames += ` ${className}_bordered`
    when "filled"
      - classNames += ` ${className}_filled`
    when "long"
      - classNames += ` ${className}_long`
    when "bordered-header"
      - classNames += ` ${className}_bordered-header`
    when "long-header"
      - classNames += ` ${className}_long-header`

  if hovered
    - classNames += ` ${className}_hovered`
    
  #{tag}(class=classNames)&attributes(buttonAttributes[tag])
      div(class=`${className}__body`)
        span(class=`${className}__text`)= text
        if icon
          span(class=`${className}__icon`)
            span(class="material-icons")= icon