include ../label/label

mixin expander(vars = {})
  -
    const {
      title = 'default',
      isOpened = false
    } = vars

    const className = 'expander'
    let classNames = className + ` js-${className}`

  if isOpened
    - classNames += ` ${className}_opened`

  div(class=classNames)
    div(class=`${className}__header js-${className}__header`)
      div(class=`${className}__label`)
        +label({ title })
      button(class=`${className}__expander-button`)
    div(class=`${className}__body js-${className}__body`)
      block