mixin navigation-item(vars = {})
  -
    const {
      href,
      subNavigation,
      content  = '',
      isActive = false,
    } = vars

    const className = 'navigation-item'
    let classNames  = `${className} js-${className}`

    const tag = href ? 'a' : 'div'

    const itemAttributes = {
      a: {
        href,
      },
      div: {},
    }

  if isActive
    - classNames += ` ${className}_active`

    
  #{tag}(class=classNames)&attributes(itemAttributes[tag])
    div(class=`${className}__header-wrapper js-${className}__header-wrapper`)
      div(class=`${className}__content`)= content
      if subNavigation
        button(class=`${className}__expand-button`)
    if subNavigation
      ul(class=`${className}__sub-navigation`)
        each subItem in subNavigation
          li(class=`${className}__sub-navigation-item`)
            a(class=`${className}__sub-navigation-item-content` href=subItem.href)= subItem.content