extends ../../layouts/layout-ui-kit/layout-ui-kit
include ../../components/input-field/input-field
include ../../components/dropdown-counter/dropdown-counter
include ../../components/container/container
include ../../components/label/label
include ../../components/button/button
include ../../components/control-panel/control-panel

block vars
  -
    var title = "Form Elements"

block content
  - 
    let className = "form-elements"
  div(class=className)
    +container
      //+input-field({label: "text field", description: "default", placeholder: "Email"})
      //+input-field({label: "text field", description: "hover / focus", placeholder: "This is pretty awesome", hovered: true})
      //+input-field({label: "dropdown", placeholder: "Сколько гостей", expandable: true})
      div(class=`${className}__dropdown-counter js-${className}__dropdown-counter`)
        +dropdown-counter({
          type: "room",
          input: {
            title: "dropdown2",
            placeholder: "Сколько комнат",
          },
          items: [
            {title: "спальни", value: 2, type: "room"},
            {title: "кровати", value: 2, type: "bed"},
            {title: "ванные комнаты", value: 1, type: "bathroom"}
          ]})
      +input-field({title: "text field", description: "default", placeholder: "Email", expandable: true})
      div(class=`${className}__dropdown-counter js-${className}__dropdown-counter`)
        +dropdown-counter({
          type: "guest",
          input: {
            title: "dropdown",
            placeholder: "Сколько гостей",
          },
          items: [
            {title: "взрослые", value: 1, type: "guest"},
            {title: "дети", value: 3, type: "guest"},
            {title: "младенцы", value: 2, type: "baby"}
          ]})
