extends ../../layouts/layout-ui-kit/layout-ui-kit

include ../../components/container/container
include ../../components/label/label
include ../../components/input-field/input-field
include ../../components/dropdown-counter/dropdown-counter
include ../../components/dropdown-datepicker/dropdown-datepicker
include ../../components/checkbox-list/checkbox-list
include ../../components/radio-buttons-field/radio-buttons-field
include ../../components/toggle-switch/toggle-switch
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination

block vars
  -
    const title = "Form Elements"

block content
  - 
    const className = "form-elements"
    let classNames = `${className} js-${className}`
    const data = require("./data.json")

  div(class=classNames)
    +container
      div(class=`${className}__body`)
        div(class=`${className}__main-elements`)
          div(class=`${className}__column-left`)
            div(class=`${className}__input-field-default`)
              +input-field(data.inputFieldDefault)
            div(class=`${className}__input-field-hovered`)
              +input-field(data.inputFieldHovered)
            div(class=`${className}__dropdown-default js-${className}__dropdown-default`)
              +dropdown-counter(data.dropdownDefault)
            div(class=`${className}__input-field-masked js-${className}__input-field-masked`)
              +input-field(data.inputFieldMasked)
            div(class=`${className}__date-dropdown-double js-${className}__date-dropdown-double`)
              +dropdown-datepicker(data.dateDropdownDouble)
            div(class=`${className}__date-dropdown-single js-${className}__date-dropdown-single`)
              +dropdown-datepicker(data.dateDropdownSingle)
            div(class=`${className}__input-field-subscription js-${className}__input-field-subscription`)
              +input-field(data.inputFieldSubscription)
          div(class=`${className}__column-middle`)
            div(class=`${className}__checkbox-buttons-default`)
              +checkbox-list(data.checkboxButtonsDefault)
            div(class=`${className}__radio-buttons`)
              div(class=`${className}__label-wrapper`)
                +label({ title: "radio buttons" })
              +radio-buttons-field(data.radioButtons)
              div(class=`${className}__toggle-switches`)
                div(class=`${className}__label-wrapper`)
                  +label({ title: "toggle" })
                div(class=`${className}__toggle-switch-active`)
                  +toggle-switch(data.toggleSwitchActive)
                div(class=`${className}__toggle-switch-default`)
                  +toggle-switch(data.toggleSwitchDefault)
              div(class=`${className}__like-buttons`)
                div(class=`${className}__label-wrapper`)
                  +label({ title: "like button" })
                div(class=`${className}__like-buttons-wrapper`)
                  div(class=`${className}__like-button-default js-${className}__like-button-default`)
                    +like-button(data.likeButtonDefault)
                  div(class=`${className}__like-button-active js-${className}__like-button-active`)
                    +like-button(data.likeButtonActive)
              div(class=`${className}__rate-buttons`)
                div(class=`${className}__label-wrapper`)
                  +label({ title: "rate button" })
                div(class=`${className}__rate-buttons-wrapper`)
                  div(class=`${className}__rate-button-1`)
                    +rate-button(data.rateButton1)
                  div(class=`${className}__rate-button-2`)
                    +rate-button(data.rateButton2)
          div(class=`${className}__column-right`)
            div(class=`${className}__range-slider js-${className}__range-slider`)
              +range-slider(data.rangeSlider)
            div(class=`${className}__buttons`)
              div(class=`${className}__label-wrapper`)
                  +label({ title: "buttons" })
              div(class=`${className}__buttons-filled`)
                +button(data.buttonFilled)
                +button(data.buttonFilledActive)
              div(class=`${className}__buttons-bordered`)
                +button(data.buttonBordered)
                +button(data.buttonBorderedActive)
              div(class=`${className}__buttons-default`)
                +button(data.buttonDefault)
                +button(data.buttonDefaultActive)
              div(class=`${className}__button-with-icon`)
                +button(data.buttonWithIcon)
            div(class=`${className}__pagination`)
              div(class=`${className}__label-wrapper`)
                +label({ title: "pagination" })
              div(class=`${className}__pagination-wrapper js-${className}__pagination-wrapper`)
                +pagination(data.pagination)
        div(class=`${className}__dropdowns`)
          div(class=`${className}__column`)
          div(class=`${className}__column`)
          div(class=`${className}__column`) 
        div(class=`${className}__lists`)
          div(class=`${className}__column`)
          div(class=`${className}__column`)
          div(class=`${className}__column`) 
        div(class=`${className}__room-content`)
          div(class=`${className}__column`)
          div(class=`${className}__column`)