mixin logo(vars = {})
  -
    const {
      src   = "",
      href  = "/mock-address/change-me",
      theme = "",
    } = vars

    const className  = "logo"
    const classNames = theme === "uiKit" ? `${className} ${className}_ui-kit` : className

  a(class=classNames, href=href)
    img(class=`${className}__icon`
        alt="toxin logo"
        src=require(`@images/${src}`)
    )