mixin logo(vars = {})
  -
    const {
      theme,
      src   = '',
      href  = '/mock-address/change-me',
    } = vars

    const className = 'logo'
    let classNames  = className

    const themeClass = {
      uiKit: ` ${className}_ui-kit`,
    }

  if theme
    - classNames += themeClass[theme]

  a(
    class=classNames,
    href=href
  )
    img(
      class=`${className}__icon`
      alt='toxin logo'
      src=require(`@images/${src}`)
    )