extends ../layout-base/layout-base

include ../../components/header/header
include ../../components/footer/footer

block body
  -
    const header = require('../../components/header/data.json')
    const footer = require('../../components/footer/data.json')

    const layoutClassName = 'layout'
    let layoutClassNames = `${layoutClassName} js-${layoutClassName}`

  div(class=layoutClassNames)
    div(class=`${layoutClassName}__header js-${layoutClassName}__header`)
      +header(header)
    div(class=`${layoutClassName}__main`)
      block main
    div(class=`${layoutClassName}__footer`)
      +footer(footer)