mixin radio-button(vars = {})
  -
    const {
      name,
      value,
      title   = '',
      checked = false,
    } = vars

    const className = 'radio-button'
    let classNames  = className + ` js-${className}`

  div(class=classNames)
    label(class=`${className}__body`)
      input(
        class=`${className}__radio-input`
        type='radio'
        checked=checked
        name=name
        value=value
      )
      span(class=`${className}__button`)
      span(class=`${className}__title`)= title