include ../navigation-item/navigation-item

mixin navigation(vars = {})
  -
    const {
      items = [],
    } = vars

    const className = 'navigation'
    let classNames = `${className} js-${className}`

  ul(class=classNames)
    each item in items
      li(class=`${className}__item js-${className}__item`)
        +navigation-item(item)
