extends ../../layouts/layout-base/layout-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/container/container
include ../../components/header/header
include ../../components/footer/footer

block vars
  -
    const title = "Headers & Footers"

block main
  - 
    const className = "headers-and-footers"
    const data = require("./data.json")

  div(class=`${className} js-${className}`)
    div(class=`${className}__header`)
      +header-ui-kit(data.header)
    div(class=`${className}__header-default`)
      +header(data.headerDefault)
    div(class=`${className}__header-signed-in`)
      +header(data.headerSignedIn)
    div(class=`${className}__footer-default`)
      +footer(data.footerDefault)
    div(class=`${className}__footer-mobile`)
      +footer({ ...data.footerDefault, theme: "mobile" })