mixin toggle-switch(vars = {})
  -
    const {
      name,
      title   = "",
      checked = false,
    } = vars

    const className = "toggle-switch"
    let classNames  = className + ` js-${className}`

  div(class=classNames)
    label(class=`${className}__body`)
      input(
        class=`${className}__switch-input`
        type="checkbox"
        checked=checked
        name=name
      )
      span(class=`${className}__switch`)
      span(class=`${className}__title`)= title