mixin chart-pie(vars = {})
  -
    const {
      title,
      ariaLabel = '',
      width = 300,
      height = 150,
      data = [],
    } = vars

    const dataReversed = data.reverse()

    const className = 'chart-pie'
    let classNames = className + ` js-${className}`

  div(class=classNames)
    if title
      h2(class=`${className}__title`)= title
    div(class=`${className}__body`)
      div(class=`${className}__chart-wrapper`)
        canvas(
          class=`${className}__chart js-${className}__chart`
          role='img'
          aria-label=ariaLabel
          width=width
          height=height
        )
        div(class=`${className}__reviews-wrapper`)
          div(class=`${className}__reviews-value js-${className}__reviews-value`) 260
          div(class=`${className}__reviews-label js-${className}__reviews-label`) голосов
      ul(class=`${className}__legend`)
        each item in dataReversed
          li(class=`${className}__legend-item js-${className}__legend-item`)
            div(class=`${className}__bullet-wrapper`)
              div(class=`${className}__bullet js-${className}__bullet`)
            span(class=`${className}__legend-item-title`)= item.label
