include ../label/label

mixin input-field(vars = {})
  -
    const {
      label,
      hovered,
      value,
      button,
      isReadonly,
      name,
      placeholder = '',
      required = false,
      size = 'big',
      type = 'text',
    } = vars

    const className = 'input-field'
    let classNames = className + ` js-${className}`

    const sizeClass = {
      small: ` ${className}_size_small`,
      medium: ` ${className}_size_medium`,
      big: ` ${className}_size_big`,
    }

    classNames += sizeClass[size]

  if hovered
    - classNames += ` ${className}_hovered`

  -
    const buttonClassName = `${className}__button`
    let buttonClassNames = buttonClassName
  
    const buttonIconClass = {
      expandMore: ` ${buttonClassName}_icon_expandable`,
      arrowForward: ` ${buttonClassName}_icon_subscribable`,
    }

    const buttonThemeClass = {
      primary: '',
      secondary: ` ${buttonClassName}_theme_secondary`,
      tertiary: ` ${buttonClassName}_theme_tertiary`,
    }

  if button
    -
      const {
        theme = 'primary',
        icon = 'expandMore',
      } = button

      buttonClassNames += buttonIconClass[icon]
      buttonClassNames += buttonThemeClass[theme]

  div(class=classNames)
    if (label)
      div(class=`${className}__header`)
        +label(label)
    label(class=`${className}__label`)
      input(
        class=`${className}__input js-${className}__input`
        type=type
        name=name
        placeholder=placeholder
        readonly=isReadonly
        value=value
        required=required
      )
    if button
      - const { type: buttonType = 'button' } = button
      button(
        class=buttonClassNames
        type=buttonType
      )