include ../label/label

mixin input-field(vars)
  -
    const {
      label = {},
      placeholder = "",
      required = false,
      hovered,
      value = "",
      button,
      isReadonly,
      size = "big",
      type = "text",
      name = "",
    } = vars

    const className = "input-field"
    let classNames = className + ` js-${className}`
  
  case (size)
    when "small"
      - classNames += ` ${className}_small`
    when "medium"
      - classNames += ` ${className}_medium`
    default
      - classNames += ` ${className}_big`

  if hovered
    - classNames += ` ${className}_hovered`

  - const buttonClassName = `${className}__button`
  - let buttonClassNames = buttonClassName
  
  if button
    case (button.icon)
      when "expand_more"
        - buttonClassNames += ` ${buttonClassName}_expandable`
      when "arrow_forward"
        - buttonClassNames += ` ${buttonClassName}_subscribable`
      default
        - buttonClassNames += ` ${buttonClassName}_expandable`

    case (button.theme)
      when "primary"
        - buttonClassNames += ` ${buttonClassName}_primary`
      when "secondary"
        - buttonClassNames += ` ${buttonClassName}_secondary`

  div(class=classNames)
    label(class=`${className}__label`)
      div(class=`${className}__header`)
        +label(label)
      div(class=`${className}__main-field`)
        input(class=`${className}__input js-${className}__input`
              type=type
              name=name
              placeholder=placeholder
              readonly=isReadonly
              value=value
              required=required
              )
        if button
          button(class=buttonClassNames)