include ../control-panel/control-panel

mixin datepicker(vars)
  -
    var { hasTwoInputs = false, startDate, endDate } = vars
    var className = "datepicker"
    var classNames = `${className} js-${className}`

  div(class=classNames type="hidden" data-start-date=startDate data-end-date=endDate)
    input(class=`${className}__input js-${className}__input` type="hidden")
    div(class=`${className}__control-panel-wrapper`)
      +control-panel