include ../control-panel/control-panel

mixin datepicker(vars)
  -
    var { startDate, endDate, isHidden = false, size = "medium" } = vars
    var className = "datepicker"
    var classNames = `${className} js-${className} ${className}_${size}`

  if isHidden
    - classNames += ` ${className}_hidden`

  div(class=classNames data-start-date=startDate data-end-date=endDate)
    input(class=`${className}__input js-${className}__input` type="hidden")
    div(class=`${className}__control-panel-wrapper`)
      +control-panel