include ../control-panel/control-panel

mixin datepicker(vars = {})
  -
    const {
      isHidden = false,
      size     = "medium",
    } = vars
    
    const className = "datepicker"
    let classNames  = `${className} js-${className}`

    classNames += (size === "big") ? ` ${className}_big` : ` ${className}_medium`

  if isHidden
    - classNames += ` ${className}_hidden`

  div(class=classNames)
    input(
      class=`${className}__input js-${className}__input`
      type="text"
    )
    div(class=`${className}__control-panel-wrapper`)
      +control-panel