include ../image-slider/image-slider

mixin gallery(vars = {})
  -
    const {
      imageSlider = {},
    } = vars

    const className = 'gallery'
    const classNames = `${className} js-${className}`

  div(class=classNames)
    div(class=`${className}__image-slider js-${className}__image-slider`)
      +image-slider(imageSlider)
    div(class=`${className}__images`)
      div(class=`${className}__images-primary-wrapper`)
        img(
          class=`${className}__image-primary`
          src=require(`@src/${imageSlider.images[0].src}`)
          alt=imageSlider.images[0].alt
        )
      div(class=`${className}__images-secondary-wrapper`)
        img(
          class=`${className}__image-secondary-one`
          src=require(`@src/${imageSlider.images[1].src}`)
          alt=imageSlider.images[1].alt
        )
        img(
          class=`${className}__image-secondary-two`
          src=require(`@src/${imageSlider.images[2].src}`)
          alt=imageSlider.images[2].alt
        )