mixin checkbox(vars = {})
  -
    const {
      description,
      isRich  = false,
      title   = '',
      checked = false,
    } = vars

    const className = 'checkbox'
    let classNames  = className + ` js-${className}`

  if isRich
    - classNames += ` ${className}_rich`

  div(class=classNames)
    label(class=`${className}__body`)
      input(
        class=`${className}__checkbox-input`
        type='checkbox'
        checked=checked
      )
      span(class=`${className}__checkmark`)
      span(class=`${className}__title`)= title
    if description
      p(class=`${className}__description`)= description