include ../label/label
include ../bullet/bullet

mixin bullet-list(vars)
  -
    const {
      label,
      items = [],
    } = vars

    const className = "bullet-list"
    let classNames = className + ` js-${className}`

  div(class=classNames)
    if label
      div(class=`${className}__title`)
        +label(label)
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          +bullet(item)