include ../label/label
include ../bullet/bullet

mixin bullet-list(vars = {})
  -
    const {
      title,
      titleSize = 'medium',
      items = [],
    } = vars

    const className = 'bullet-list'
    let classNames = className + ` js-${className}`

    const titleTag = {
      medium: 'h3',
      big: 'h2'
    }

    const titleSizeClass = {
      medium: '',
      big: ` ${className}_title-size_big`,
    }

    classNames += titleSizeClass[titleSize]

  div(class=classNames)
    if title
      #{titleTag[titleSize]}(class=`${className}__title`)= title
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          +bullet(item)