include ../label/label
include ../bullet/bullet

mixin bullet-list(vars = {})
  -
    const {
      title,
      withBiggerTitle = false,
      items = [],
    } = vars

    const className = 'bullet-list'
    let classNames  = className + ` js-${className}`

    const titleTag = withBiggerTitle ? 'h2' : 'h3'

  if withBiggerTitle
    - classNames += ` ${className}_with-bigger-title`

  div(class=classNames)
    if title
      #{titleTag}(class=`${className}__title`)= title
    ul(class=`${className}__list`)
      each item in items
        li(class=`${className}__item`)
          +bullet(item)