include ../room-info-item/room-info-item

mixin room-info(vars)
  -
    const {
      title,
      items = [],
      withEndLine = false,
    } = vars

    const className = "room-info"
    let classNames = className

  if withEndLine
    - classNames += ` ${className}_withEndLine`
  div(class=classNames)
    if title
      h2(class=`${className}__title`)= title
    ul(class=`${className}__items`)
      each item in items
        li(class=`${className}__item`)
          +room-info-item(item)