extends ../../layouts/layout-base/layout-base

include ../../components/header-ui-kit/header-ui-kit
include ../../components/container/container
include ../../components/card-room/card-room
include ../../components/card/card
include ../../components/card-search/card-search
include ../../components/card-sign-in/card-sign-in

block vars
  -
    const title = "Cards"

block main
  - 
    const className = "cards"
    const data = require("./data.json")

  div(class=`${className} js-${className}`)
    div(class=`${className}__header`)
      +header-ui-kit(data.header)
    +container
      //div(class=`${className}__card-room-focused js-${className}__card-room-focused`)
        //+card-room(data.cardRoomFocused)
      div(class=`${className}__card-search js-${className}__card-search`)
        //+card-search(data.cardSearch)
      div(class=`${className}__card-sign-in js-${className}__card-sign-in`)
        +card-sign-in(data.cardSignIn)