include ../input-field/input-field
include ../control-panel/control-panel
include ../counter-item/counter-item

mixin dropdown-counter(vars = {})
  -
    const {
      input            = {},
      type             = "guest",
      withControlPanel = true,
      items            = [],
      size             = "big",
    } = vars

    const className = "dropdown-counter"
    let classNames  = className + ` js-${className}`

    classNames += size === "big" ? ` ${className}_big` : ` ${className}_medium`

  div(class=classNames)
    div(class=`${className}__input-wrapper`)
      +input-field({ ...input, expandable: true, isReadonly: true })
    div(class=`${className}__menu js-${className}__menu`)
      ul(class=`${className}__items`)
        each item in items
          li(class=`${className}__item js-${className}__item`) 
            +counter-item(item)
      if withControlPanel
        div(class=`${className}__control-panel-wrapper js-${className}__control-panel-wrapper`) 
          +control-panel