include ../card/card
include ../room-label/room-label
include ../dropdown-datepicker/dropdown-datepicker
include ../dropdown-counter/dropdown-counter
include ../button/button
include ../room-price-item/room-price-item

mixin card-reservation(vars = {})
  -
    const {
      form = {
        action: "/mock-address/change-me",
        method: "get",
      },
      roomLabel = {},
      dropdownDatepicker = {},
      dropdownGuests = {},
      roomPriceItems = [],
      submitReservationButton = {},
    } = vars

    const className = "card-reservation"
    let classNames = `${className} js-${className}`

  +card()
    form(
      class=classNames
      action=form.action
      method=form.method
    )
      div(class=`${className}__label js-${className}__label`)
        +room-label(roomLabel)
      div(class=`${className}__dropdown-datepicker js-${className}__dropdown-datepicker`)
        +dropdown-datepicker(dropdownDatepicker)
      div(class=`${className}__dropdown-guests js-${className}__dropdown-guests`)
        +dropdown-counter(dropdownGuests)
      ul(class=`${className}__room-price`)
        each item in roomPriceItems
          li(class=`${className}__room-price-item js-${className}__room-price-item`)
            +room-price-item(item)
      div(class=`${className}__total-price`)
        div(class=`${className}__total`) Итого
        div(class=`${className}__dots`)
        div(class=`${className}__total-price-value js-${className}__total-price-value`)
      div(class=`${className}__submit-reservation-button`)
        +button(submitReservationButton)

